<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Symbolic Calculator</h1>
      <h3>by Kieran Choi-Slattery</h3>
    </div>

    <span id="mathfield_span"></span>

    <select class="math-select" name="state">
      <option value="x">$x$</option>
      <option value="y">$y$</option>
    </select>
    <!-- Run the main script -->
    <script type="module" src="../scripts/main.ts"></script>
  </body>
</html>
