<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/style.css" />

    <!-- select2 requirements -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>
  <body>
    <div class="header">
      <h1>Symbolic Calculator</h1>
      <h3>by Kieran Choi-Slattery</h3>
    </div>

    <span id="example_test_span"></span>

    <span id="mathfield_span"></span>

    <select class="js-example-basic-single" name="state">
      <option value="x">$x$</option>
      <option value="y">$y$</option>
    </select>
    <!-- Run the main script -->
    <script type="module" src="../scripts/main.ts"></script>
  </body>
</html>
